[submodule "czds-api-client-java"]
	path = czds-api-client-java
	url = https://github.com/icann/czds-api-client-java.git
[submodule "open-tld-downstream-client"]
	path = open-tld-downstream-client
	url = git@gitlab.wsad.io:client-repos/wsad/open-tld-downstream-client.git
